<!DOCTYPE html>
<html lang="en">

<head>
  <title>WTG Flask</title>
</head>

<body>
  <form action="{{url_for('inputHandler')}}" method="POST">
    Enter a budget (format: 1,2,3 for $$$):
    <input type="text" name="budget"></input><br><br>
    Enter a category:
    <input type="text" name="category"></input><br><br>
    Hours until you plan to go:
    <input type="text" name="elapsed time"></input><br><br>
    Rate the importance of distance from 1-10:
    <input type="text" name="distance score"></input><br><br>
    Rate the importance of ratings from 1-10:
    <input type="text" name="rating score"></input><br><br>

    <input type="submit" value="Submit">
  </form>
  <hr>
  <p>Best Restaurant: {{ restaurantName }}</p>
  <p>Rating (rounded): {{ rating }}</p>
  <a href="{{ fakespotURL }}">
    <p>FakeSpot Rating</p>
  </a>
  <a href="{{ yelpURL }}">
    <p>Click the image to access the Yelp site</p>
    <img src="{{ imageURL }}" alt="{{ restaurantName }}" style="max-height: 256px">
  </a>
  <hr>
  <p>Made by: <b>Nicholas Chu</b> and <b>Nikhil Kolluri</b></p>
  <button onClick="showSuggestions()">See Other Suggestions</button>
  <br><br>
  <p id="suggestions" style="display: none">{{ nameList | safe }}</p>

</body>

<script>
  function showSuggestions() {
    let el = document.getElementById("suggestions")

    if (el.style.display == "none") {
      el.style.display = "block"
    }
  }
</script>

</html>